<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="biz.incomsystems.fwknop2" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.sonelli.juicessh.api.v1.permission.READ_CONNECTIONS"/>
    <uses-permission android:name="com.sonelli.juicessh.api.v1.permission.OPEN_SESSIONS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        tools:replace="android:icon,android:theme"
        android:allowBackup="true"
        android:icon="@mipmap/fwknop2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ConfigListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="biz.incomsystems.fwknop2.HelpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name=".GeneralConfigActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>
        <activity
            android:name=".ConfigDetailActivity"
            android:label="@string/title_config_detail"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".ConfigListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ConfigListActivity" />
        </activity>
    </application>

</manifest>
